*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style: none;
    text-decoration: none;
}
html,
body {
  height: 100%;
  background: linear-gradient(to right, #4f47eb, #000000);
}

.navbar {
background-color: #F0F2F4;
overflow: hidden;
}

.navbar ul {
list-style-type: none;
margin: 0;
padding: 0;
display: flex;
float: right;
}

.navbar li {
margin: 0 10px;
}

.navbar li a {
border-radius: 5px;
display: block;
color: black;
text-align: center;
padding: 12px;
font-size: 20px;
text-decoration: none;
}

.navbar li a:hover {
background: linear-gradient(to right, #625be2, #111e26);
color: white;
}


/*Links*/

.title{
    margin-top: 20px;
    color: white;
}
.subTitle{
    margin-top: 10px;
    font-size: 18px;
    color: #f1f1f1;
}
.title, .subTitle{
    text-align: center;
    justify-content: center;
}
.titleAll{
  margin-top: 50px;
  color: white;
  text-align: center;
  justify-content: center;
  font-size: 24px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*NOTICIAS*/
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 0;
}
.column {
  height: 450px;
  flex-basis: calc(50% - 10px);
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f8f8f8;
  border-radius: 10px;
}
.column h2{
  text-align: center;
}

.column img{
  width: 250px;
  max-height: 150px;
}
@media screen and (min-width: 768px) {
  .column {
    flex-basis: calc(20% - 10px);
    margin: 0 10px 10px;
  }
}
h2 {
  font-size: 22px;
  margin-top: 0;
}
p {
  margin-top: 15px;
  font-size: 16px;
  line-height: 1.5;
}


/*CURIOSIDADES*/

.curiosidades-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px;
}

.curiosidade-coluna {
  flex-basis: calc(50% - 10px);
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
}
.curiosidades-container{
  padding-bottom: 5rem;
}

/*RODAPÉ*/

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2rem;
  background-color: #F0F2F4;
  
  font-size: 1rem;
  line-height: 1.5;
  color: rgb(34, 33, 33);
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}